* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

video {
  width: 720px;
}
#media {
  height: 405px;
}

section {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#player {
  width: 720px;
}

#play,
#mute,
#fullscreen {
  padding: 2px 10px;
  border: 1px solid #000;
  background: #ddd;
  font-weight: bold;
}
#mute {
  background: #00adef;
}

.material-icons {
  font-size: 20px;
  cursor: pointer;
}
.material-symbols-outlined {
  cursor: pointer;
  font-size: 20px;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background: black;
}

input[type="button"]:hover {
  color: #00adef;
}

.buttons {
  padding-left: 5px;
}

#bar {
  width: 400px;
  height: 6px;
  margin: 2px 5px;
  background: grey;

  cursor: pointer;
}

#progress {
  width: 0;
  height: 6px;
  background: #f68960;
}
.control {
  width: 100px;
  height: 6px;
  margin: 2px 5px;
  background: grey;
  cursor: pointer;
}
.volume {
  width: 0;
  height: 6px;
  background: #00adef;
}

.mains {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#darkplayer {
  background: black;
  opacity: 0.6;
  width: 720px;
  height: 405px;
  position: absolute;
  display: none;
}
.backgroundVideo {
  background: black;
}
#playImg {
  margin: 160px 310px;
  position: absolute;
  display: none;
  z-index: 2;
  opacity: 1;
}

#playImg:hover {
  opacity: 0.4;
  cursor: pointer;
}

.vi1,
.vi2,
.vi3,
.vi4,
.vi5 {
  width: 150px;
  height: 150px;
  background: #361010;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vi1:hover,
.vi2:hover,
.vi3:hover,
.vi4:hover,
.vi5:hover {
  animation: 0.5s a1;
  cursor: pointer;
  background: #103624;
  color: white;
}

@keyframes a1 {
  0% {
    background: #361010;
  }

  50% {
    background: #331036;
  }

  70% {
    background: #101736;
  }

  100% {
    background: #103624;
  }
}

#vids {
  margin-left: 30px;
  margin-top: 70px;
  width: 230px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
